/* Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --floralwhite: #fffaf2;
  --jet: #343434;
  --silver: #757575;
  --orangesoda: #f66542;
  --yellowred: #ffc759;
  --middleblue: #87cad4;
  --oceangreen: #71c19d;
  --wisteria: #c490d1;
  --mountbattenpink: #9e7b9b;
  --richblack: #0b151d;
  --size-width: 400px;
  --size-height: 350px;
}

/* CSS Resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: var(--floralwhite);
  font-family: "Readex Pro", sans-serif;
}

/* Background Colors */
.orangesoda {
  background-color: var(--orangesoda);
}
.yellowred {
  background-color: var(--yellowred);
}
.middleblue {
  background-color: var(--middleblue);
}
.oceangreen {
  background-color: var(--oceangreen);
}
.wisteria {
  background-color: var(--wisteria);
}

/* Nav Bar */
nav {
  top: 0;
  position: sticky;
  border-bottom: 2px solid rgba(71, 71, 71, 0.769);
  height: 3em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--jet);
  color: white;
  font-size: 1.3em;
  z-index: 10;
}

.nav-links {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Home Section */
#home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: calc(100vh - 3em);
  justify-content: center;
  align-items: center;
}

/* -- Intro Block */
#home .intro-block {
  margin: 0;
  font-size: 2.8em;
}

/* -- Picture of Me */
#home img {
  margin-top: 2px;
  filter: grayscale(70%);
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  justify-self: flex-start;
}

#home h2 > span {
  color: var(--orangesoda);
}

/* -- "I am a" color*/
#home h1 {
  color: black;
}

/* -- Looping typewriter*/
#home a {
  margin-left: 15px;
  text-decoration: none;
  color: var(--oceangreen);
}

/* About Me Section */
#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--silver);
}

/* -- About Block */
#about .about-block {
  margin: 50px auto;
  font-size: 2.5em;
  align-self: flex-start;
  color: #f5f5f5;
}

/* -- Picture of Me */
#about img {
  margin-top: 15px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  justify-self: flex-start;
  align-self: flex-end;
}

/* -- About me heading */
#about h3 {
  margin: 0;
}

/* -- About me paragraph and skills */
#about p {
  font-size: 0.5em;
  text-indent: 3em;
  text-justify: auto;
  padding: 10px 120px 0 0;
  line-height: 1.5em;
}

/* -- Skills and Languages subheading */
#about h5 {
  margin: 30px 0 0 0;
  display: inline;
  font-size: 0.6em;
  color: #f5f5f5d8;
}

/* removes text indent from p tags*/
#about .no-indent {
  text-indent: 0;
  margin: 0 0 20px 0;
  padding-left: 20px;
  color: #fdfdfdbd;
}

/* View Resume button */
#about a {
  text-decoration: none;
  font-size: 0.6em;
  margin-left: 30%;
  padding: 5px 10px;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}

/* Projects Section */
.project-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  padding: 40px 50px;
  gap: 20px;
}

/* Projects Section */
.project-right {
  display: grid;
  padding: 40px 50px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  line-height: 2em;
}

#projects-title {
  grid-column: 1 / span 2;
  padding: 10px;
  margin: 20px 0 0 50px;
  font-size: 2.5em;
  color: white;
}

/* -- Project title subheading */
.project h5 {
  display: inline;
  font-size: 1.5em;
  color: rgb(22, 22, 22);
}

.project h6 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.project p {
  width: 90%;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.767);
  line-height: 2em;
}

.project span {
  display: inline-block;
  margin: 20px 30px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.767);
}

/* Customized to fit portfolio page
 Carousel CSS by @januaryofmine on CodePen */
.carousel-wrapper {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  margin: 50px;
}

.carousel-container {
  width: var(--size-width);
  height: var(--size-height);
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: calc(var(--size-width) * 3);
  animation: sliding 12s infinite;
}

.carousel img {
  width: var(--size-width);
  height: var(--size-height);
}

.carousel:hover {
  animation-play-state: paused;
}
.carousel .image-one {
}
.carousel .image-two {
}
.carousel .image-three {
}

.carousel .aspect-ratio {
  width: var(--size-width);
  height: var(--size-height);
  object-fit: cover;
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-400px);
  }
  65% {
    transform: translateX(-400px);
  }
  70% {
    transform: translateX(-800px);
  }
  98% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Project Actionable Buttons Container */
.demo-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

/* Icons for Github and Live */
.demo-buttons i {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

/* Text Link for Github and Live*/
.demo-buttons a {
  margin-top: 10px;
  color: white;
  font-size: 0.7em;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid ivory;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

/* Fix styling for right-oriented project section demo-buttons */
.project-right .demo-buttons a {
  padding: 0 10px;
}
